@model IEnumerable<DesarrolloWebMVC_Productos.Web.Models.Producto>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registro Producto</title>
</head>
<body>
    <div>
        <form method="post" action="/Home/Grabar">
            <h2>Registro de Producto</h2>
            <br />
            <table>
                <tr>
                    <td>Descripción</td>
                    <td>
                        <input type="text" name="Descripcion"
                    </td>
                </tr>
                <tr>
                    <td>Tipo</td>
                    <td>
                        <input type="text" name="Tipo"
                    </td>
                </tr>
                <tr>
                    <td>Precio</td>
                    <td>
                        <input type="text" name="Precio"
                    </td>
                </tr>
                <tr>
                    <td class="auto-style2"> </td>
                    <td>
                        <input type="submit" name="guardar" value=" Registrar Producto "
                    </td>
                </tr>

            </table>
        </form>
        <br />
        <a href="/">Retornar Sin Registrar</a>
    </div>
</body>
</html>